header {
    position: sticky;
    top: 10px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

form {
    margin-top: 10px;
    display : flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content : center;
}

.logo
{
    width: 100px;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.75rem yellow);
}

html {
    background-color: black;
}

body {
    width: 75%;
    margin-left: 12.5%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-indent: 20px;
    color: lightgrey;
    text-align: justify;
    font-family: Open Sans;
}

label {
    color : white;
    margin-left: 10px;
    font-family: Open Sans;
}

.buttons {
    display : flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

select {
    background-color: black;
    color: whitesmoke;
    border: none;
    padding: 2px;
}

.select-items {
    border: none;
}

select:after{
    border: none;
}

button {
    margin: 10px;
    text-transform: uppercase;
    border: none;
    background-color: lightgrey;
    box-shadow: 1px 1px 2px whitesmoke;
    padding: 5px;
}

button:hover {
    background-color: darkgrey;
}

button:active {
    background-color: grey;
}

.formbutton {
    margin-top: 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px white;
    padding : 10px;
    background-color: black;
    max-width: 1000px;
}

input {
    background-color: black;
    border: none;
    padding-bottom: 1px;
    border-bottom: 1px solid lightgrey;
    color: whitesmoke;
}

.input-item {
    margin: 5px;
}

input::placeholder {
    color: lightgrey;
}

input:focus {
    outline: none;
}

input:invalid {
    outline: none;
    border: none;
    box-shadow: none;
    caret-color: orangered;
    border-bottom: 1px solid orangered;
}

.mainContent {
    display: flex;
    justify-content: center;
    font-family: Open Sans;
    color: whitesmoke;
}

td {
    margin: 10px;
    justify-content: center;
    width : 30% ;
    text-align : center;
    padding : 5px;
    /*border-top : 2px solid whitesmoke;*/
}

#listOfNameWhatALongIdForUHugo {
    width: 75%;
    border-collapse: collapse;
}

.fatigue
{
    background-color: darkgrey;
    box-shadow: 1px 1px 2px darkgrey;
}

.pasDernier{
    border-bottom: 2px solid whitesmoke;
}

#barrel_roll {
    width: 70%;
    max-width: 950px;
}

footer {
    bottom: 0px;
    font-size: 10px;
}

a {
    color: #d7fffe;
}
